data/err.log
dist/
/data/characters
/data/server.db
/data/server.db-shm
/data/server.db-wal
/data/minutes.log
config/server.cfg
config/server.cfg.bak
/data/castle_wars_scoreboard.dat
config/server.cfg
data/messageOfTheWeek.dat
/build
/.idea
qa-output/gameplay-trace.log
*.log
